<form action="" (submit)='signIn()' [formGroup]='userForm'>
    <div class="container-fluid my-4">
        <div class="row ">
            <div class="col-5 shadow mx-auto">
                <h2 class="text-center">Sign In Page</h2>
                <input type="text" class="form-control my-2" placeholder="Email" formControlName='email'>
                <input type="password" placeholder="Password" class="form-control" formControlName='password'>
                <input type="submit" class="btn btn-info w-100 my-2">
            </div>
        </div>
    </div>
</form>
